In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [12]:
db = create_engine("postgresql+psycopg2://postgres:123@localhost:5432/Movies")

In [14]:
connection = db.connect()
trans = connection.begin()
result = connection.execute("SELECT * FROM genres;")
for i in result:
    print(i)

(0, 'Adventure')
(1, 'Animation')
(2, 'Children')
(3, 'Comedy')
(4, 'Fantasy')
(5, 'Romance')
(6, 'Drama')
(7, 'Action')
(8, 'Crime')
(9, 'Thriller')
(10, 'Horror')
(11, 'Mystery')
(12, 'Sci-Fi')
(13, 'IMAX')
(14, 'Documentary')
(15, 'War')
(16, 'Musical')
(17, 'Western')
(18, 'Film-Noir')
(19, 'NaN')