In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import re
from imdb import Cinemagoer

In [10]:
movies = pd.read_csv(Path('archive\movies.csv'))

In [11]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
# seperating year of release from title
for idx in movies.index:
    title = movies.loc[idx,"title"]
    year_of_release = re.findall(r"\(([0-9]+-?\s?)\)", title)
    if year_of_release == []:
        movies.loc[idx,"year_of_release"] = np.NaN
    else:
        movies.loc[idx,"year_of_release"] = year_of_release[-1]

In [13]:
movies.isna().sum()

movieId              0
title                0
genres               0
year_of_release    327
dtype: int64

In [14]:
movies.loc[movies["year_of_release"].isna()]

,movieId,title,genres,year_of_release
10023,32930,Category 6: Day of Destruction,Action|Drama,NaN
10613,40697,Babylon 5,Sci-Fi,NaN
15719,79607,"Millions Game, The (Das Millionenspiel)",Action|Drama|Sci-Fi|Thriller,NaN
17444,87442,"Bicycle, Spoon, Apple (Bicicleta, cullera, poma)",Documentary,NaN
22651,107434,Diplomatic Immunity (2009– ),Comedy,NaN
...,...,...,...,...
57504,192339,The Sign of Three,(no genres listed),NaN
57674,192829,Parwaaz Hai Junoon,Adventure|Children|Romance,NaN
57789,193149,¿Qué te juegas?,(no genres listed),NaN
57903,193443,Wall,(no genres listed),NaN
57993,193657,A Kiss of Chaos,Action|Drama|Thriller,NaN

In [15]:
movies_new = pd.DataFrame(columns=["movieId","title","genres","year_of_release"])
movies_new.head()

Empty DataFrame
Columns: [movieId, title, genres, year_of_release]
Index: []

In [16]:
for idx in movies.index:
    genre_list = movies.loc[idx,"genres"].split("|")
    for genre in genre_list:
        temp_df = pd.DataFrame(
            [[movies.loc[idx,"movieId"], movies.loc[idx,"title"],genre,movies.loc[idx,"year_of_release"]]],
            columns=["movieId","title","genres","year_of_release"]
            )
        movies_new = pd.concat([movies_new, temp_df], ignore_index= True)

In [17]:
movies_new.head()

  movieId             title     genres year_of_release
0       1  Toy Story (1995)  Adventure            1995
1       1  Toy Story (1995)  Animation            1995
2       1  Toy Story (1995)   Children            1995
3       1  Toy Story (1995)     Comedy            1995
4       1  Toy Story (1995)    Fantasy            1995

In [27]:
dict_genre = {'Adventure':0,'Animation':1,'Children':2, 'Comedy':3,'Fantasy':4,'Romance':5,'Drama':6,'Action':7,'Crime':8, 'Thriller':9,'Horror':10,
'Mystery':11,'Sci-Fi':12,'IMAX':13,'Documentary':14,'War':15,'Musical':16,'Western':17,'Film-Noir':18,'(no genres listed)':19}

In [19]:
movie_genre_join_table = pd.DataFrame(columns=["movieId","genreId"])
movie_genre_join_table

Empty DataFrame
Columns: [movieId, genreId]
Index: []

In [20]:
for idx in movies_new.index:
    tag_id = dict_genre[movies_new.loc[idx,'genres']]
    movie_id = movies_new.loc[idx,"movieId"]
    temp = pd.DataFrame([[movie_id, tag_id]], columns=["movieId","genreId"])
    movie_genre_join_table = pd.concat([movie_genre_join_table, temp])

In [21]:
movie_genre_join_table.head()

  movieId genreId
0       1       0
0       1       1
0       1       2
0       1       3
0       1       4

In [17]:
genre_set = set(movies_new["genres"].values)
genre_set

NameError: name 'movies_new' is not defined

In [19]:
dict_genre[np.NAN] = dict_genre["(no genres listed)"]

In [24]:
genres = pd.DataFrame(columns=["genreId", "genre"])
for genre in genre_set:
    temp_df = pd.DataFrame([[dict_genre[genre], genre]], columns=["genreId", "genre"])
    genres = pd.concat([genres, temp_df],ignore_index = True)

In [25]:
genres = genres.sort_values(by ='genreId', ascending = 1)

In [26]:
genres = genres.reset_index()

In [27]:
genres.drop(columns=["index"],inplace = True)

In [28]:
genres.loc[genres["genre"] == "(no genres listed)","genre"] = np.NAN

In [6]:
genres

NameError: name 'genres' is not defined

In [30]:
movies_new.drop(columns = ["genres"],inplace = True)

In [31]:
movies_new = movies_new.drop_duplicates()
movies_new = movies_new.reset_index().drop(columns = ["index"])

In [32]:
movies_new.loc[movies_new["year_of_release"].isna()]

,movieId,title,year_of_release
10023,32930,Category 6: Day of Destruction,NaN
10613,40697,Babylon 5,NaN
15719,79607,"Millions Game, The (Das Millionenspiel)",NaN
17444,87442,"Bicycle, Spoon, Apple (Bicicleta, cullera, poma)",NaN
22651,107434,Diplomatic Immunity (2009– ),NaN
...,...,...,...
57504,192339,The Sign of Three,NaN
57674,192829,Parwaaz Hai Junoon,NaN
57789,193149,¿Qué te juegas?,NaN
57903,193443,Wall,NaN
57993,193657,A Kiss of Chaos,NaN

In [33]:
movies_new.loc[22651,"year_of_release"] = 2009

In [34]:
def munge_title(title):
    i = title.rfind(' (')
    if i != -1:
        title = title[:i]
    for suff_word in ['The', 'A', 'An']:
        suffix = ', {}'.format(suff_word)
        if title.endswith(suffix):
            title = suff_word + ' ' + title[:-len(suffix)]
    return title

In [35]:
for idx in movies_new.index:
    movies_new.loc[idx,"title"] = munge_title(movies_new.loc[idx,"title"])

In [36]:
movies_new.head()

  movieId                        title year_of_release
0       1                    Toy Story            1995
1       2                      Jumanji            1995
2       3             Grumpier Old Men            1995
3       4            Waiting to Exhale            1995
4       5  Father of the Bride Part II            1995

In [37]:
movies_new.loc[movies_new["year_of_release"].isna()]

      movieId                                  title year_of_release
10023   32930         Category 6: Day of Destruction             NaN
10613   40697                              Babylon 5             NaN
15719   79607                      The Millions Game             NaN
17444   87442                  Bicycle, Spoon, Apple             NaN
24089  112406  Brazil: In the Shadow of the Stadiums             NaN
...       ...                                    ...             ...
57504  192339                      The Sign of Three             NaN
57674  192829                     Parwaaz Hai Junoon             NaN
57789  193149                        ¿Qué te juegas?             NaN
57903  193443                                   Wall             NaN
57993  193657                        A Kiss of Chaos             NaN

[326 rows x 3 columns]

In [7]:
links = pd.read_csv(Path("archive/links.csv"))
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [41]:
## Get movie year from IMDB
imdb_year_1 = []
count=0
# create an instance of the Cinemagoer class
ia = Cinemagoer()

for x,m in zip(movies_new.loc[movies_new["year_of_release"].isna(),'movieId'],movies_new.loc[movies_new["year_of_release"].isna(),'title']):
    y = links[links['movieId']==x]['imdbId'].values[0]
     #################### DO NOT TOUCH THIS CODE #####################
    # get a movie
    movie = ia.get_movie(y)
    try:
        movies_new.loc[movies_new["movieId"] == x, 'year_of_release'] = movie['year']
    except:
        print("Id:",x,"Movie:",m,"ImdbId:",y)
        imdb_year_1.append([x,m,0])
    if (count%10==0):
        print(count,"------- Done ----------")
        print(m,movie['year'])
    count+=1
    
    #########

0 ------- Done ----------
Tatort: Im Schmerz geboren 2014
10 ------- Done ----------
La vendetta dei barbari 1960
20 ------- Done ----------
One Night Only 1984
30 ------- Done ----------
Vaastupurush 2002
40 ------- Done ----------
Chinese Boxes 1984
50 ------- Done ----------
Disaster Playground 2015
60 ------- Done ----------
Roger la Honte 1966
70 ------- Done ----------
Alone With People 2014
80 ------- Done ----------
Nocturnal Animals 2016
90 ------- Done ----------
Beauty and the Breast 2012
100 ------- Done ----------
Vergeef me 2001
110 ------- Done ----------
Pawn's Move 2011
120 ------- Done ----------
Citizen King 2004
130 ------- Done ----------
After Eden 2015
140 ------- Done ----------
Tibetana 1970
150 ------- Done ----------
Bad Dad Rehab 2016
160 ------- Done ----------
The Adventures of Cinderella's Daughter 2000
170 ------- Done ----------
Dolpo Tulku - Heimkehr in den Himalaya 2010
180 ------- Done ----------
Third Guest 2016
190 ------- Done ----------
Jedi Junior High 2014
200 ------- Done ----------
Игра на выбывание 2004
210 ------- Done ----------
The Garden of Afflictions 2017 2017
220 ------- Done ----------
Black Mirror 2011
Id: 177265 Movie: Checkmate ImdbId: 5640954
230 ------- Done ----------
Abd El-Kader 2014
240 ------- Done ----------
The Book of Birdie 2017
250 ------- Done ----------
Rigoletto 1946
260 ------- Done ----------
Rooster: Spurs of Death! 1978
270 ------- Done ----------
Heroine 2017
280 ------- Done ----------
Taco Shop 2018
290 ------- Done ----------
Witch-Hunt 2017
Id: 188661 Movie: Untitled Star Trek Sequel ImdbId: 4756228
300 ------- Done ----------
The Death of Superman 2018
310 ------- Done ----------
Since 1966

In [42]:
movies_new.loc[movies_new["year_of_release"].isna()]

      movieId                      title year_of_release
50874  177265                  Checkmate             NaN
56064  188661  Untitled Star Trek Sequel             NaN

In [43]:
movie_genre_join_table = movie_genre_join_table.reset_index().drop(columns=["index"])

In [44]:
movie_genre_join_table = movie_genre_join_table.drop_duplicates()

In [45]:
movie_genre_join_table.loc[movie_genre_join_table["genreId"] == 19]

       movieId genreId
34699    83773      19
34728    83829      19
35071    84768      19
35672    86493      19
35973    87061      19
...        ...     ...
106048  193815      19
106074  193849      19
106080  193855      19
106094  193870      19
106097  193876      19

[4266 rows x 2 columns]

In [46]:
movies_new.to_csv(Path("preproc_datasets/movies.csv"),index=False)

In [47]:
movie_genre_join_table.to_csv(Path("preproc_datasets/movie_genres.csv"),index = False)

In [48]:
genres.to_csv(Path("preproc_datasets/genres.csv"))

In [26]:
movie_genre_join_table =pd.read_csv(Path("preproc_datasets/movie_genres.csv"))

In [28]:
counter = 20
for movieid in movie_genre_join_table.loc[movie_genre_join_table["genreId"] == 19, "movieId"].values:
    imdb_id = links.loc[links["movieId"] == movieid,"imdbId"].values[0]
    ia = Cinemagoer()
    try:
        data = ia.get_movie(imdb_id)
        new_genres = data["genres"]
        movie_genre_join_table.drop(movie_genre_join_table.loc[movie_genre_join_table["movieId"] == movieid].index, inplace = True)
        for _ in new_genres:
            if dict_genre.get(_) is None:
                dict_genre[_] = counter
                counter += 1
                print(_)
            new_row = pd.DataFrame([[movieid,dict_genre.get(_)]],columns=["movieId","genreId"])
            movie_genre_join_table = pd.concat([new_row,movie_genre_join_table])
        print(movieid)
    except:
        print("no genre avail",movieid)

83773
Short
Music
83829
84768
History
86493
87061
91246
92435
92641
94431
94657
95541
95750
96479
Biography
96651
113472
113545
114335
114587
114723
114725
114877
115004
115006
no genre avail 115419
115441
115529
115602
115893
Family
116046
116054
116096
116098
116100
116126
116237
116287
116347
116425
116479
116531
116704
Adult
116917
116923
116949
116955
117316
117722
117845
117847
117865
118292
118340
118448
118692
Sport
118728
118878
119878
120299
120612
121581
121590
121867
122001
122482
122557
122571
122573
122589
122605
122637
122675
122679
122687
122711
122811
122825
122888
122896
122944
122988
123010
123038
123044
123052
123061
123071
123095
123117
123135
123139
123250
123254
123274
123278
123290
123333
123339
123345
123371
123397
123415
123421
123439
123441
123518
123526
123559
123602
123607
123609
123617
123619
123625
123629
123693
123709
123715
123721
123729
123755
123775
123798
123800
123808
123810
123830
123838
123850
123860
123866
123870
123874
123902
123913
123925
123935
123939
123975
123989
123995
123999
124007
124017
124039
124095
124103
124149
124182
124200
124215
124226
124243
124255
124269
124364
124366
124386
124388
124392
124400
124408
124422
124430
124464
124480
124486
124496
124525
124531
124548
124629
124631
124639
124645
124659
124667
124733
124737
124765
124775
124795
124833
124869
124921
124937
124963
124975
125029
125079
125091
125127
125159
125211
125233
125273
125275
125279
125305
125325
125377
125385
125423
125427
125461
125467
125531
125535
125551
125561
125571
125574
125587
125593
125601
125603
125605
125609
125611
125615
125617
125632
125640
125642
125646
125650
125652
125700
125833
125840
125860
125864
125872
125876
125878
125890
125908
125910
125928
125930
125934
125942
125948
125956
125958
125980
125984
125994
126000
126010
126022
126024
126026
126028
126034
126042
126052
126060
126062
126064
126068
126074
126076
126078
126080
126098
126106
126130
126168
126172
126176
126186
126194
126202
126206
126221
126239
126243
126245
126286
126331
126333
126339
126560
126593
126721
126731
126739
126741
126759
126789
126793
126795
126797
126917
126945
126949
126955
126963
126967
126973
126975
126979
126985
126989
126993
126995
126999
127003
127005
127007
127957
127991
128015
128027
128047
128069
128077
128079
128115
128131
128193
128219
128237
128243
128253
128295
128356
128373
128383
128393
128395
128401
128421
128431
128433
128480
128492
128498
128500
128504
128514
128516
128544
128570
128590
128610
128616
128624
128644
128667
128673
128686
128705
128727
128752
128754
128766
128780
128794
128796
128800
128810
128816
128818
128820
128916
129052
129056
129076
129078
129185
129187
129189
129193
129211
129225
129250
129524
129530
129536
129651
129661
129663
129667
129677
129683
129689
129705
129723
129733
129755
129759
129765
129769
129802
129838
129847
129849
129851
129865
129869
129871
129875
129877
129879
129881
129885
129887
129895
129915
129917
129919
129925
129929
129931
129943
129980
129986
129996
130060
130089
130093
130099
130144
130165
130178
130204
130231
130235
130237
130239
130252
130259
130280
130296
130298
130324
130342
130386
130410
130430
130432
130446
130454
130456
130472
130500
130502
130532
130552
130558
130620
130652
130666
130672
130690
130716
130732
130770
130776
130810
130812
130814
130820
130834
130844
130846
130852
130860
130866
130876
130878
130882
130918
130932
130936
130946
130962
130968
131021
131029
131031
131078
131108
131172
131186
131198
131209
131223
131225
131260
131276
131280
131294
131300
131320
131361
131371
131391
131415
131427
131468
131524
131536
131538
131542
131544
131556
131560
131568
131602
131606
131632
131642
131648
131654
131672
131678
131702
131708
131755
131763
131771
no genre avail 131775
131777
131779
131792
131808
131810
131838
131844
131846
131864
131876
131878
131900
131916
131922
131952
131962
131968
131984
131990
131996
132016
132034
132062
132070
132082
132084
132088
132098
132116
132155
132171
132206
132226
132247
132264
132266
132282
132284
132288
132298
132305
132307
132370
132379
132392
132394
132406
132438
132448
132516
132549
132606
132622
132666
132699
132707
132713
132729
132733
132760
132764
132766
132768
132774
132776
132784
132806
132810
132816
132834
132836
132852
132860
132866
132868
132879
132886
132890
132892
132896
132932
132948
132952
132981
133051
133053
133055
133057
133067
133073
133075
133081
133097
133105
133183
133197
133201
133211
133229
133243
133264
133297
133299
News
133321
133341
133395
133409
133427
133433
133473
133483
133493
133501
133509
133519
133557
133565
133585
133598
133606
133616
133628
133630
133640
133677
133701
133714
133718
133727
133743
133765
133828
133835
133849
133889
133900
133904
133943
133953
133966
133984
133992
134002
134009
134011
134025
134037
134053
134057
134063
134065
134075
134097
134107
134113
134142
134192
134216
134220
134224
134240
134254
134256
134266
134280
134284
134294
134296
134312
134328
134330
134340
134346
134356
134405
134407
134411
134413
134415
134425
134429
134433
134475
134491
134495
134497
134501
134503
134507
134542
134571
134591
134595
134627
134761
134810
134817
134835
134840
134857
134861
134896
134906
134908
134910
134929
134931
134965
134967
134969
134973
134981
134997
135005
135009
135037
135039
135049
135057
135061
135065
135073
135077
135079
135083
135087
135105
135129
135196
135202
135224
135254
135276
135300
135310
135336
135352
135354
135362
135370
135392
135400
135414
135416
135460
135488
135492

2022-11-28 01:38:06,611 CRITICAL [imdbpy] d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\_exceptions.py:32: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt3416042/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>},); kwds: {}
Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 525, in open
    response = meth(req, response)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 634, in http_response
    response = self.parent.error(
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 563, in error
    return self._call_chain(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 643, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:
2022-11-28 01:38:06,613 CRITICAL [imdbpy] d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\__init__.py:833: caught an exception retrieving or parsing "main" info set for mopID "3416042" (accessSystem: http)
Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 525, in open
    response = meth(req, response)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 634, in http_response
    response = self.parent.error(
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 563, in error
    return self._call_chain(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 643, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\__init__.py", line 831, in update
    ret = method(mopID)
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 468, in get_movie_main
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'reference')
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 379, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 249, in retrieve_unicode
    raise IMDbDataAccessError(
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt3416042/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>}

no genre avail 135539
135561
135573
135575
135581
135583
135611
135641
135643
135645
135663
135667
135691
135721
135731
135733
135737
135771
135773
135775
135783
135799
135819
135821
135891
135895
135917
135921
135935
136056
136074
136082
136090
136102
136104
136108
136148
136206
136241
136275
136277
136283
136285
136311
136371
136375
136381
136395
136401
136411
136415
136421
136453
136481
136524
136526
136560
136566
136570
136590
136592
136606
136610
136630
136706
136710
136736
136742
136746
136772
136774
136824
136832
136836
136842
136844
136866
136872
136874
136876
136878
136880
136886
136966
136970
136992
136994
137004
137030
137034
137056
137082
137084
137104
137120
137148
137162
137166
137180
137188
137240
137242
137270
137276
137284
137292
137296
137303
137333
137335
137361
137369
137375
137419
137437
137451
137453
137482
137488
137496
137572
137574
137576
137579
137583
137585
137587
137589
137591
137624
137644
137648
137660
137662
137666
137678
137741
137771
137803
137829
137833
137845
137851
137873
137875
137887
137893
137920
137934
137940
137954
137956
137962
137966
137972
137990
137994
138008
138024
138026
138042
138098
138114
138120
138140
138180
138192
138198
138212
138218
138228
138266
138294
138296
138310
138314
138316
138322
138324
138332
138340
138348
138354
138358
138382
138386
138398
138442
138452
138456
138464
138470
138474
138484
138502
138518
138656
138719
138730
138740
138776
138782
138802
138848
138863
138885
138894
138954
138988
139002
139044
139050
139076
139078
139104
139112
139122
139126
139142
139148
139175
139177
139189
139191
139197
139199
139203
139251
139267
139301
139335
139349
139375
139401
139407
139423
139459
139477
139499
139545
139547
139563
139569
139592
139596
139618
139651
139665
139669
139683
139693
139699
139735
139737
139763
139765
139793
139845
139847
139849
139851
139853
139867
139877
139928
139940
139958
139978
139986
139992
140002
140004
140006
140026
140046
140048
140070
140121
140129
140142
140144
140164
140166
140176
140200
140206
140233
140327
140335
140363
140375
140379
140387
140389
140399
no genre avail 140427
140431
140443
140455
140461
140465
140467
140471
140479
140487
140509
140531
140545
140549
140577
140587
140593
140597
140605
140615
140623
140639
140667
140685
140697
140703
140731
140753
140763
140765
140775
140874
140902
140920
140964
140988
140994
141014
141020
141042
141048
141068
141090
141096
141118
141131
141162
141170
141207
141292
141297
141301
141305
141323
141343
141355
141377
141379
141381
141387
141389
141406
141436
141442
141444
141458
141466
141470
141472
141489
141507
141532
141558
141580
141598
141612
141638
141654
141664
141674
141682
141696
141745
141747
141765
141779
141858
141866
141872
141882
141894
141900
141936
141940
141948
141990
142000
142002
142034
142038
142042
142046
142098
142128
142142
142144
142214
142308
142378
142394
142400
142432
142434
142456
142460
142464
142490
142494
142496
142517
142544
142548
142556
142572
no genre avail 142610
142612
142614
142616
142620
142687
142714
142723
142748
142795
142801
142825
142837
142901
142911
142913
142937
142959
142977
142979
142987
142995
143007
143013
143043
143059
143067
143096
143101
143103
143108
143133
143150
143152
143156
143158
143162
143201
143205
143211
143217
143221
143235
143259
143283
143285
143301
143303
143305
143329
143333

2022-11-28 02:08:14,515 CRITICAL [imdbpy] d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\_exceptions.py:32: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt3614802/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>},); kwds: {}
Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 525, in open
    response = meth(req, response)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 634, in http_response
    response = self.parent.error(
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 563, in error
    return self._call_chain(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 643, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:
2022-11-28 02:08:14,518 CRITICAL [imdbpy] d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\__init__.py:833: caught an exception retrieving or parsing "main" info set for mopID "3614802" (accessSystem: http)
Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 525, in open
    response = meth(req, response)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 634, in http_response
    response = self.parent.error(
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 563, in error
    return self._call_chain(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 643, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\__init__.py", line 831, in update
    ret = method(mopID)
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 468, in get_movie_main
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'reference')
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 379, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 249, in retrieve_unicode
    raise IMDbDataAccessError(
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt3614802/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>}

no genre avail 143351

2022-11-28 02:08:15,010 CRITICAL [imdbpy] d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\_exceptions.py:32: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt1628842/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>},); kwds: {}
Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 525, in open
    response = meth(req, response)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 634, in http_response
    response = self.parent.error(
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 563, in error
    return self._call_chain(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 643, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:
2022-11-28 02:08:15,012 CRITICAL [imdbpy] d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\__init__.py:833: caught an exception retrieving or parsing "main" info set for mopID "1628842" (accessSystem: http)
Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 221, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 525, in open
    response = meth(req, response)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 634, in http_response
    response = self.parent.error(
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 563, in error
    return self._call_chain(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 496, in _call_chain
    result = func(*args)
  File "C:\Users\nukeb\AppData\Local\Programs\Python\Python310\lib\urllib\request.py", line 643, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 404:

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\__init__.py", line 831, in update
    ret = method(mopID)
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 468, in get_movie_main
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'reference')
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 379, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "d:\IITPkd\Data Eng\Project\myenv\lib\site-packages\imdb\parser\http\__init__.py", line 249, in retrieve_unicode
    raise IMDbDataAccessError(
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt1628842/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 404: ''>}

no genre avail 143357
143387
143389
143408
143410
143420
143426
143434
143454
143460
143480
143492
143494
143521
143539
143541
143551
143565
143619
143697
143701
143709
143711
143727
143739
143747
143761
143783
143791
143803
143809
143811
143815
143825
143851
143855
143912
143923
143972
143996
144017
144025
144027
144054
144078
144080
144102
144110
144112
144124
144142
144144
144158
144166
144178
144180
144204
144236
144256
144258
144284
144314
144442
144448
144528
144602
144630
144652
144674
144680
144684
144720
144726
144732
144740
144742
144772
144804
144820
144830
144832
144846
144882
144884
144888
144912
144916
144952
144990
144998
145006
145036
145040
145074
145106
145108
145118
145122
145124
145148
145154
145156
145320
145322
145366
145370
145392
145416
145424
145436
145438
145440
145450
145472
145548
145562
145620
145638
145650
145676
145686
145698
145714
145718
145720
145735
145749
145779
145805
145809
145811
145813
145815
145817
145825
145827
145833
145835
145851
145855
145861
145873
145875
145885
145889
145903
145909
145933
145966
145968
146010
146042
146044
146058
146062
146066
146070
146072
146080
146086
146090
146092
146094
146098
146100
146102
146104
146106
146108
146112
146116
146118
146130
146150
146160
146166
146168
146174
146176
146180
146186
146188
146192
146200
146204
146216
146218
146220
146222
146226
146228
146236
146240
146246
146248
146250
146256
146258
146270
146272
146275
146277
146303
146315
146321
146333
146335
146350
146354
146362
146364
146366
146368
146370
146372
146376
146380
146382
146386
146388
146390
146394
146398
146400
146404
146406
146408
146410
146429
146431
146439
146463
146485
146487
146495
146497
146499
146503
146546
146550
146554
146582
146584
146592
146608
146610
146616
146630
146644
146686
146690
146692
146706
146708
146710
146734
146770
146776
146780
146796
146806
146812
146816
146830
146840
146852
146858
146860
146862
146868
146880
146884
146886
146888
146892
146894
146898
146912
146934
146938
146940
146952
146960
146966
146968
146972
146974
146976
146980
147000
147012
147039
147088
147100
147110
147114
147116
147118
147120
147130
147144
147176
147186
147218
147222
147226
147250
147274
147284
147318
147334
147338
147370
147388
147404
147420
147450
147458
147466
147499
147536
147573
147593
147605
147624
147676
147680
147696
147722
147732
147740
147750
147772
147789
147795
147811
147841
147867
147893
147895
147899
147915
147917
147940
147942
147948
147950
147952
147960
147980
147984
147994
147996
148008
148012
148022
148028
148040
148046
148048
148052
148074
148091
148101
148114
148118
148124
148128
148134
148146
148160
148176
148180
148210
148222
148246
148260
148274
148286
148329
148390
148430
148458
148464
148526
148554
148560
148564
148572
148578
148598
148608
148642
148677
148691
148705
148707
148715
148731
148741
148749
148755
148777
148789
148795
148807
148826
148861
148877
148902
148906
148915
148917
148923
148936
148958
148960
149020
149041
149080
149086
149090
149106
149116
149124
149128
149136
149138
149158
149170
149172
149174
149176
149178
149182
149188
149254
149258
149268
149270
149296
149298
149306
149308
149310
149314
149316
149318
149330
149346
149356
149358
149364
149384
149394
149396
149428
149436
149448
149462
149466
149476
149502
149532
149538
149540
149548
149552
149576
149594
149630
149634
149646
149674
149692
149698
149700
149715
149717
149770
149772
149816
149818
149848
149883
149896
149904
149925
149929
149936
149967
149969
149984
150004
150006
150020
150064
150068
150076
150078
150146
150162
150214
150218
150240
150266
150342
150346
150358
150362
150369
150399
150413
150419
150421
150437
150459
150534
150574
150576
150584
150615
150617
150629
150645
150665
150669
150671
150676
150704
150710
150724
150748
150750
150756
150782
150788
150792
150794
150802
150838
150846
150854
150868
150872
150878
150880
150888
150898
150900
150906
150916
150948
150970
150972
150976
150986
151019
151115
151117
151121
151127
151133
151137
151157
151161
151167
151171
151175
151179
151183
151185
151187
151189
151202
151285
151295
151307
151327
151335
151341
151347
151359
151420
151435
151443
151449
151453
151457
151461
151473
151483
151491
151495
151497
151517
151525
151541
151543
151545
151581
151583
151585
151593
151659
151665
151667
151669
151677
151685
151693
151701
151711
151719
151721
151727
151783
151793
151815
151819
151829
151892
151943
151957
151961
151967
151975
151981
151983
151985
152015
152035
152037
152075
152149
152171
152212
152216
152230
152234
152244
152246
152250
152254
152320
152328
152332
152338
152342
152354
152358
152360
152389
152419
152453
152477
152483
152491
152523
152527
152537
152541
152561
152567
152571
152605
152617
152629
152631
152635
152639
152660
152672
152682
152715
152725
152727
152741
152743
152763
152808
152810
152816
152818
152820
152824
152840
152852
152860
152882
152884
152898
152904
152906
152910
152914
152918
152926
152928
152930
152932
152934
152942
152944
152948
152956
152996
153000
153006
153008
153010
153014
153036
153040
153050
153054
153058
153060
153062
153066
153094
153098
153104
153110
153112
153114
153118
153130
153140
153144
153152
153158
153182
153184
153194
153196
153202
153204
153210
153212
153214
153218
153230
153244
153248
153256
153260
153264
153268
153272
no genre avail 153274
153276
153288
153296
153302
153308
153312
153314
153318
153322
153324
153334
153340
153342
153350
153372
153380
153382
153396
153400
153402
153416
153424
153442
153450
153454
153456
153458
153470
153482
153488
153494
153504
153506
153548
153568
153574
153590
153596
153598
153604
153610
153616
153620
153638
153642
153644
153650
153674
153684
153686
153692
153700
153706
153714
153722
153730
153736
153742
153744
153746
153754
153778
153812
153814
153818
153822
153838
153849
153855
153859
153871
153873
153883
153889
153913
153917
153937
153951
153963
153967
153973
153977
153979
153985
153989
154023
154047
154059
154110
154130
154132
154140
154142
154172
154184
154200
154206
154228
154232
154240
154258
154260
154266
154300
154307
154309
154339
154341
154344
154354
154360
154362
154364
154370
154376
154380
154386
154408
154422
154438
154440
154442
154452
154482
154492
154498
154518
154530
154538
154556
154572
154582
154586
154590
154594
154596
154600
154602
154608
154634
154642
154648
no genre avail 154652
154654
no genre avail 154658
154662
154664
154668
154670
154674
154703
154729
154751
154776
154782
154786
154788
154794
154806
154808
154812
154814
154816
154820
154836
154842
154844
154854
154858
154860
154864
154866
no genre avail 154870
154872
154876
154878
154884
154886
154888
154892
154894
154896
154898
154900
154904
154906
154927
154929
154931
154949
154951
154978
154986
154988
155020
155028
155058
155094
155106
155111
155121
155129
155145
155160
155172
155178
155243
155245
155249
155279
155314
155334
155399
155418
155420
155453
155475
155481
155483
155485
155529
155539
155571
155587
155589
155593
155597
155617
155621
155631
155633
155639
155656
155703
155750
155752
155764
155768
155770
155786
155794
155802
155838
155844
155854
155856
155870
155884
155886
155923
155927
155932
155986
155990
156015
156023
156048
156052
156071
156075
156077
156097
156101
156175
156180
156233
156250
156268
156278
156284
156342
156375
156412
156416
156420
156457
156460
156481
156493
156517
156525
156533
156537
156571
156575
156577
156581
156583
156585
156591
156605
156613
156623
156661
156684
156686
156688
156708
156720
156724
156761
156765
156844
156873
156894
156911
156913
156915
156919
156950
156989
156991
156993
156996
157000
157004
157006
157014
157028
157038
157041
157057
157063
157083
157089
157128
157168
157194
157240
157242
157260
157262
157264
157278
157294
157300
157302
157306
157314
157320
157322
157332
157357
157381
157401
157442
157544
157549
157609
157611
157619
157703
157709
157715
157717
157725
157735
157737
157741
157759
157761
157781
157787
157789
157791
157795
157809
157811
157813
157815
157817
157819
157833
157845
157847
157849
157863
157875
157877
157895
157905
157967
157971
157979
157987
158005
158013
158017
158031
158033
158047
158056
158062
158084
158086
158107
158119
158121
158127
158133
158143
158147
158161
158210
158222
158234
158240
158262
158272
158292
158302
158312
158342
158364
158370
158386
158424
158426
158451
158455
158493
158506
158526
158536
158553
158563
158583
158637
158675
158693
158765
158789
158791
158805
158807
158838
158854
158860
158862
158864
158998
159050
159067
159073
159097
159101
159109
159113
159117
159123
159125
159127
159129
159141
159143
159145
159161
159199
159257
159259
159261
159281
159283
159295
159297
159305
159307
159313
159325
159335
159337
159341
159345
159391
159423
159445
159471
159473
159488
159522
159548
159560
159664
159674
159708
159753
159779
159789
159805
159843
159877
159879
159882
159947
159949
159984
159988
159998
160004
160022
160036
160044
160050
160058
160060
160068
160076
160078
160096
160124
160128
160167
160171
160173
160213
160240
160257
160269
160277
160295
160315
160317
160364
160366
160378
160380
160384
160386
160394
160398
160410
160412
160420
160426
160428
160466
160468
160476
160535
160579
160590
160606
160614
160624
160676
160692
160732
160740
160806
160814
160820
160868
160880
160888
160946
160952
160964
160966
160968
160970
160972
161008
161016
161038
161040
161050
161072
161113
161133
161143
161202
161248
161250
161252
161254
161276
161278
161294
161300
161308
161320
161366
161376
161380
161428
161466
161468
161512
161542
161546
161558
161598
161604
161610
161620
161630
161640
161642
161646
161658
161670
161708
161710
161712
161718
161764
161788
161790
161792
161800
161804
161806
161808
161840
161868
161876
161948
161952
162006
162104
162114
162126
162154
162166
162174
162196
162212
162214
162238
162290
162306
162326
162342
162354
162398
162400
162404
162412
162420
162446
162486
162504
162524
162550
162566
162570
162574
162580
162608
162614
162644
162698
162702
162710
162720
162722
162740
162746
162760
162770
162786
162788
162802
162808
162810
162812
162836
162850
162862
162866
162886
162892
162902
162904
162910
162912
162928
162936
162938
162942
162944
162966
162980
162992
163010
163016
163024
163026
163038
163040
163042
163046
163058
163078
163080
163104
163160
163162
163166
163176
163210
163218
163220
163224
163228
163236
163238
163250
163254
163280
163288
163298
163316
163322
163324
163326
163332
163336
163338
163374
163378
163398
163400
163402
163418
163424
163434
163442
163448
163454
163482
163490
163498
163506
163537
163567
163583
163585
163591
163595
163597
163605
163607
163613
163637
163659
163667
163675
163677
163741
163795
163839
163879
163907
163917
163967
163975
163977
163993
164011
164025
164045
164051
164053
164055
164087
164091
164109
164129
164133
164169
164187
164224
164248
164250
164252
164302
164304
164306
164312
164330
164383
164439
164445
164463
164469
164501
164524
164526
164530
164544
164554
164572
164574
164592
164594
164596
164602
164610
164639
164657
164661
164675
164691
164705
164709
164713
164743
164745
164775
164787
164795
164805
164819
164847
164865
164883
164927
164975
165063
165089
165097
165113
165165
165183
165197
165217
165237
165247
165251
no genre avail 165273
165275
165289
165293
165311
165315
165321
165363
165385
165399
165447
165465
165489
165493
165509
165511
165519
165523
165559
165575
165595
165665
165707
165713
165715
165733
165735
165761
165783
165845
165853
165861
165887
165965
165971
166024
166026
166030
166038
166140
166159
166175
166181
166215
166219
166243
166247
166267
166273
166277
166289
166293
166367
166375
166399
166403
166407
166411
166415
166421
166433
166445
166502
166510
166540
166546
166562
166580
166611
166617
166633
166647
166649
166651
166659
166665
166669
166687
166697
166703
166709
166729
166735
166773
166790
166800
166812
166818
166824
166828
166832
166840
166850
166854
166856
166862
166868
166872
166876
166896
166898
no genre avail 166900
166922
166926
166942
166944
166976
166978
167020
167022
167024
167030
167066
167092
167098
167102
167108
167114
167128
167190
167200
167242
167244
167248
167306
167328
167330
167338
167340
167348
167384
167400
167404
167436
167438
167456
167458
167460
167462
167464
167468
167496
167498
167504
167506
167516
167518
167524
167526
167530
167534
167558
167568
167570
167572
167604
167606
167614
167628
167664
167674
167712
167718
167722
167758
167770
167814
167830
167862
167910
167930
167938
167946
167960
167984
167988
168024
168050
168068
168072
168078
168080
168106
168156
168158
168160
168162
168170
168180
168188
168202
no genre avail 168228
168232
168238
168296
168306
168310
168312
168340
168342
168364
168368
168388
168390
168404
168434
168494
168518
168528
168538
168562
no genre avail 168566
168578
168596
168606
168648
168666
168698
168716
168718
168728
168730
168744
168746
168752
168762
168768
168790
168806
168810
168818
168832
168848
168852
168854
168856
168888
168890
168906
no genre avail 168908
168912
168948
168950
168952
168972
169004
169006
169034
169052
169124
169146
169172
169178
169192
169228
169230
169232
169236
169240
169244
169270
169448
169450
169484
169496
169500
169504
169532
169534
169620
169638
169678
169696
169766
169790
169832
169838
169932
169936
169972
169976
169978
169980
169986
169990
170008
170018
170056
170058
170062
170064
170109
170117
170165
170167
170231
170307
170317
170321
170325
170327
170331
170333
170353
170373
170445
170451
170463
170465
170467
170533
170539
170571
170593
170617
170619
170633
170667
170671
170681
170719
170721
170725
170727
170739
170741
170745
170757
170783
170823
170825
170839
170847
170899
170909
170911
170915
170941
170943
170981
170991
171033
171065
171079
171129
171151
171153
171269
171279
171281
171299
171313
171331
171377
171393
171401
171405
171407
171409
171413
171415
171421
171451
171463
171495
171519
171533
171551
171569
171581
171593
171627
171629
171631
171645
171657
171705
171747
171749
171753
171835
171847
171891
171927
171979
172001
172035
172047
172089
172113
172125
172147
172175
172177
172199
172245
172247
172277
172285
172301
172327
172419
172425
172443
172451
172457
172465
172491
172497
172499
172519
172555
172557
172591
172611
172627
172631
Reality-TV
172633
172661
172677
172711
172739
172743
172783
172797
172857
172903
172905
172915
172995
172997
173019
173103
173135
173149
173179
173185
173207
173217
173275
173279
173295
173335
173339
173389
173393
173399
173407
173409
173423
173461
173481
173535
173579
173603
173651
173715
173723
173731
173739
173763
173783
173819
173833
173863
173877
173879
173887
173949
173951
173953
173959
173961
173977
173983
173991
173995
174005
174007
174021
174027
174029
174039
174061
174089
174093
174097
174113
174117
174121
174125
174127
174129
174135
174137
174139
174149
174169
174189
174203
174215
174219
174237
174271
174295
174307
174309
174321
174327
174351
174357
174375
174377
174403
174425
174437
174447
174485
174495
174555
174559
174619
174625
174633
174635
174687
174707
174713
174741
174771
174783
174785
174787
174789
174799
174837
174847
174859
174903
174931
174953
174955
175029
175035
175059
175119
175191
175235
175271
175297
175299
175335
175349
175369
175377
175389
175391
175403
175427
175459
175471
175483
175511
175545
175549
175555
175567
175605
175607
175611
175689
175695
175709
175713
175815
175843
175857
175879
175915
175917
175929
175963
175975
175985
175999
176027
176031
176033
176059
176061
176071
176087
176091
176123
176125
176127
176167
176203
176221
176231
176233
176253
176275
176279
176291
176293
176309
176323
176351
176421
176425
176441
176447
176461
176479
176481
176489
176491
176497
176597
176601
176613
176649
176691
176725
176747
176767
176777
176785
176787
176795
176825
176857
176897
176989
177005
177011
177017
177029
177041
177071
177097
177109
177121
177143
177173
177191
177251
177255
no genre avail 177265
177281
177323
177387
177413
177421
177425
177427
177443
177459
177467
177481
177505
177509
177523
177551
177577
177579
177581
177583
177589
177591
177611
177641
177677
177695
177707
177711
177715
177739
177751
177783
177843
177859
177863
177921
177973
177975
177993
178035
178039
178053
178057
178065
178095
178105
178127
178235
178257
178271
178325
178359
178385
178403
178419
178425
178429
178453
178461
178493
178495
178549
178555
178567
178617
178619
178621
178631
178641
178701
178725
178733
178735
no genre avail 178739
178781
178819
178821
178853
178869
178921
178923
178953
178961
178983
179043
179111
179115
179117
179137
179147
179149
179161
179179
179189
179195
179251
179257
179271
179279
179301
179307
179311
179325
179349
179357
179361
179365
179369
179405
179459
179469
179485
179487
179555
179719
179723
179763
179765
179767
179769
179783
179823
179833
179843
179845
179869
179907
179927
179935
179955
179969
179971
179973
179987
179993
179995
180003
180005
180011
180015
180049
180053
180069
180077
180083
180097
180115
180143
180163
180167
180175
180177
180179
180189
180193
180195
180199
180213
180299
180301
180311
180331
180397
180399
180407
180413
180473
180493
180531
180539
180543
180585
180597
180645
180653
180665
180667
180683
180695
180713
180841
180845
180847
180893
180923
180931
180947
180973
180991
180993
181011
181039
181051
181071
181095
181097
181117
181143
181153
181181
181183
181283
181297
181327
181351
181361
181375
181377
181381
181395
181397
181401
181407
181409
181411
181413
181417
181435
181449
181463
181477
181533
181543
181561
181591
181613
181615
181621
181623
181637
181641
181667
181675
181683
181685
181693
181701
181717
181719
181757
181855
181869
181899
181933
182097
182121
182275
182279
182311
182317
182323
182329
182333
182337
182365
182367
182391
182399
182411
182419
182427
182431
182433
182459
182461
182473
182517
182519
182521
182525
182529
182533
182535
182615
182629
182653
182655
182665
182687
182693
182701
182719
182723
182727
182747
182761
182765
182787
182789
182797
182801
182817
182833
182843
182909
182961
182963
182971
182975
182977
182979
182983
182989
182997
183007
183009
183013
183015
183027
183067
183069
183089
183113
183167
183185
183221
183247
183253
183257
183275
183283
183307
183315
183357
183371
183375
183383
183427
183443
183473
183513
183551
183555
183577
183587
183627
183665
183687
183717
183723
183735
183813
183865
183869
183871
183907
183909
183935
183947
183963
183995
184001
184003
184027
184029
184055
184059
184075
184083
184091
184099
184109
184123
184149
184151
184169
184271
184305
184309
184329
184337
184399
184401
184483
184499
184547
184595
184607
184611
184627
184631
184651
184827
184847
184853
184887
184891
184893
184913
184969
184975
185009
185023
185085
185097
185133
185139
185141
185143
185159
185165
185191
185195
185211
185243
185255
185291
185315
185323
185329
185331
185337
185357
185399
185419
185459
185479
185517
185565
185573
185581
185599
185613
185653
185657
185659
185663
185667
185675
185691
185695
185721
185745
185809
185819
185827
185835
185837
185845
185857
185913
185939
185973
186007
186037
186053
186079
186093
186117
186143
186241
186247
186253
186261
186275
186293
186313
186325
186327
186337
186355
186373
186375
186377
186379
186385
no genre avail 186387
186437
186441
186449
186475
186477
186489
186543
186585
186597
186613
186619
186629
186725
186753
186757
186779
186781
186789
186791
186801
186805
186835
186865
186885
186887
186891
186893
186897
186929
186951
186995
187009
187011
187013
187059
187107
187131
187155
187161
187177
187209
187251
187253
187269
187273
187285
187307
187311
187327
187329
187343
187349
187361
187371
187373
187387
187391
187399
187401
187413
187429
187443
187451
187455
187471
187475
187519
187525
187543
187549
187645
187685
187689
187691
187693
187695
187697
187699
187703
187713
no genre avail 187763
187765
187767
187787
187799
187821
187825
187839
187913
187965
188013
188029
188063
188071
188129
188201
188203
188209
188223
188225
188257
188323
188333
188367
188387
188405
188493
188499
188561
188567
188569
188593
188595
188601
188617
188627
188703
188723
188735
188801
188805
188817
188891
188901
188903
188907
188923
188925

In [29]:
dict_genre

{'Adventure': 0,
 'Animation': 1,
 'Children': 2,
 'Comedy': 3,
 'Fantasy': 4,
 'Romance': 5,
 'Drama': 6,
 'Action': 7,
 'Crime': 8,
 'Thriller': 9,
 'Horror': 10,
 'Mystery': 11,
 'Sci-Fi': 12,
 'IMAX': 13,
 'Documentary': 14,
 'War': 15,
 'Musical': 16,
 'Western': 17,
 'Film-Noir': 18,
 '(no genres listed)': 19,
 'Short': 20,
 'Music': 21,
 'History': 22,
 'Biography': 23,
 'Family': 24,
 'Adult': 25,
 'Sport': 26,
 'News': 27,
 'Reality-TV': 28}

In [30]:
movie_genre_join_table.to_csv(Path("preproc_datasets/movie_genres.csv"))

In [40]:
genres = pd.DataFrame(columns=["genreId", "genre"])
for genre in dict_genre.keys():
    temp = pd.DataFrame([[dict_genre[genre],genre]],columns=["genreId","genre"])
    genres = pd.concat([genres,temp])
genres

  genreId               genre
0       0           Adventure
0       1           Animation
0       2            Children
0       3              Comedy
0       4             Fantasy
0       5             Romance
0       6               Drama
0       7              Action
0       8               Crime
0       9            Thriller
0      10              Horror
0      11             Mystery
0      12              Sci-Fi
0      13                IMAX
0      14         Documentary
0      15                 War
0      16             Musical
0      17             Western
0      18           Film-Noir
0      19  (no genres listed)
0      20               Short
0      21               Music
0      22             History
0      23           Biography
0      24              Family
0      25               Adult
0      26               Sport
0      27                News
0      28          Reality-TV

In [41]:
genres = genres.reset_index()

In [42]:
genres.drop(columns=["index"],inplace = True)
genres

   genreId               genre
0        0           Adventure
1        1           Animation
2        2            Children
3        3              Comedy
4        4             Fantasy
5        5             Romance
6        6               Drama
7        7              Action
8        8               Crime
9        9            Thriller
10      10              Horror
11      11             Mystery
12      12              Sci-Fi
13      13                IMAX
14      14         Documentary
15      15                 War
16      16             Musical
17      17             Western
18      18           Film-Noir
19      19  (no genres listed)
20      20               Short
21      21               Music
22      22             History
23      23           Biography
24      24              Family
25      25               Adult
26      26               Sport
27      27                News
28      28          Reality-TV

In [47]:
genres.loc[genres["genreId"] == 19, "genre"] = np.NAN

In [48]:
genres

   genreId        genre
0        0    Adventure
1        1    Animation
2        2     Children
3        3       Comedy
4        4      Fantasy
5        5      Romance
6        6        Drama
7        7       Action
8        8        Crime
9        9     Thriller
10      10       Horror
11      11      Mystery
12      12       Sci-Fi
13      13         IMAX
14      14  Documentary
15      15          War
16      16      Musical
17      17      Western
18      18    Film-Noir
19      19          NaN
20      20        Short
21      21        Music
22      22      History
23      23    Biography
24      24       Family
25      25        Adult
26      26        Sport
27      27         News
28      28   Reality-TV

In [49]:
genres.to_csv(Path("preproc_datasets/movie_genres.csv"),index = False)