In [43]:
import pandas as pd
from pathlib import Path
import numpy as np

In [44]:
tags_pre = pd.read_csv(Path('archive/tags.csv'))

In [45]:
len(tags_pre)

1108997

In [46]:
tags_pre[tags_pre['tag'].isna()]

        userId  movieId  tag   timestamp
483263   80439      123  NaN  1199450867
483264   80439      346  NaN  1199451946
483268   80439     1184  NaN  1199452261
483275   80439     1785  NaN  1199452006
483276   80439     2194  NaN  1199450677
483278   80439     2691  NaN  1199451002
483286   80439     4103  NaN  1199451920
483288   80439     4473  NaN  1199451040
483290   80439     4616  NaN  1199452441
483306   80439     7624  NaN  1199452266
483312   80439     8898  NaN  1199450757
483319   80439    32460  NaN  1199450901
483321   80439    33826  NaN  1199450703
483326   80439    36537  NaN  1199450736
483327   80439    55805  NaN  1199450941
926342  216343    33826  NaN  1221450908

In [47]:
tags_pre.drop_duplicates(subset=['userId', 'movieId', 'tag'], inplace=True)

In [48]:
tags_pre.drop(tags_pre[tags_pre['tag'].isna()].index, inplace= True)

In [49]:
tags_pre['tag'].isna().sum()

0

In [50]:
tags_pre[tags_pre['tag'].isna()]

Empty DataFrame
Columns: [userId, movieId, tag, timestamp]
Index: []

In [51]:
[tags_pre['tag'] == 'NaN']

[0          False
 1          False
 2          False
 3          False
 4          False
            ...
 1108992    False
 1108993    False
 1108994    False
 1108995    False
 1108996    False
 Name: tag, Length: 1108981, dtype: bool]

In [52]:
tags_pre[tags_pre.duplicated(subset=['userId', 'movieId', 'tag'])]

Empty DataFrame
Columns: [userId, movieId, tag, timestamp]
Index: []

In [53]:
tags_pre.drop(columns = ['timestamp'], inplace= True)

In [54]:
tags_pre.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

In [56]:
tags_pre[tags_pre.duplicated()]

Empty DataFrame
Columns: [userId, movieId, tag]
Index: []

In [93]:
tags_pre = tags_pre.reindex()

In [63]:

import nltk
import re

In [62]:
import ssl
try:
     _create_unverified_https_context =     ssl._create_unverified_context
except AttributeError:
     pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/khirod/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/khirod/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [64]:
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from string import punctuation

In [111]:
stop_words = set(stopwords.words('english'))
def remove_stopwords(sentence):
    return [w for w in sentence if not w in stop_words]
def to_lower(sentence):
    return [w.lower() for w in sentence]

def alphanum(sentence):
    new_str = re.sub(r'[^\w\s]', ' ', sentence)
    return new_str
    # A=[]
    # for c in sentence:
    #     if c.isalnum()==True:
    #         A.append(c)
    # return A

In [100]:
# sent = 'sci_fi'
# tokens = word_tokenize(sent)
# print(tokens)
# tokens = to_lower(tokens)
# print(tokens)
# tokens = alphanum(tokens)
# print(tokens)
# tokens.sort()
# print(tokens)
# sent = ' '.join(tokens)
# print(sent)

['sci_fi']
['sci_fi']
[]
[]

In [112]:
new_col = []
for i in tags_pre.index :
    sent = tags_pre.loc[i, 'tag']
    #print(sent)
    sent = alphanum(sent)
    #print (sent)
    tokens = word_tokenize(sent)
    tokens = to_lower(tokens)
    tokens.sort()
    sent = ' '.join(tokens)
    new_col.append(sent)

In [113]:
tags_pre['token_tag'] = new_col

In [119]:
tags_pre.drop(tags_pre[tags_pre['token_tag']== ''].index, axis=0, inplace=True)

In [121]:
tags_pre[tags_pre.duplicated(['userId', 'movieId', 'token_tag'])]

         userId  movieId                       tag                 token_tag
614         449     2571          post-apocalyptic          apocalyptic post
621         449     2648            horror classic            classic horror
686         449    54503  Christopher Mintz-Plasse  christopher mintz plasse
747         449    71379                   BORING!                    boring
2199       1040     8870   mother-son relationship   mother relationship son
...         ...      ...                       ...                       ...
1106268  282405     8361          post-apocalyptic          apocalyptic post
1106372  282405    38061         Robert Downey Jr.          downey jr robert
1106542  282405    60069          post-apocalyptic          apocalyptic post
1107147  282405   109487               time-travel               time travel
1108736  283163   109487               time-travel               time travel

[871 rows x 4 columns]

In [138]:
tags_pre[tags_pre['userId']== 75][tags_pre['token_tag']== 'apocalyptic post' ]

/var/folders/8m/rpqpkl7d6mdb7nyq__l6df6c0000gp/T/ipykernel_38633/103041049.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tags_pre[tags_pre['userId']== 75][tags_pre['token_tag']== 'apocalyptic post' ]

     userId  movieId               tag         token_tag
88       75     6502  post-apocalyptic  apocalyptic post
113      75    56174  post-apocalyptic  apocalyptic post
200      75   122882  post apocalyptic  apocalyptic post

In [139]:
tags_pre.drop_duplicates(subset=['userId', 'movieId', 'token_tag'], inplace=True)

In [140]:
tags_pre[tags_pre.duplicated(['userId', 'movieId', 'token_tag'])]

Empty DataFrame
Columns: [userId, movieId, tag, token_tag]
Index: []

In [142]:
tags_pre.drop('token_tag', axis=1, inplace=True)

In [ ]:
################################# A F t e R___F i n i sH I n G##########

In [143]:
tags_pre

         userId  movieId                 tag
0            14      110                epic
1            14      110            Medieval
2            14      260              sci-fi
3            14      260        space action
4            14      318        imdb top 250
...         ...      ...                 ...
1108992  283206    73017                 fun
1108993  283206    73017  homoerotic subtext
1108994  283206    73017              pacing
1108995  283206    73017                plot
1108996  283221    49651  Sylvester Stallone

[1108037 rows x 3 columns]

In [55]:
tags_pre.to_csv(Path('preproc_datasets/tags.csv'), index = False)