In [2]:
#Database Utility Class
import pandas as pd
from sqlalchemy.engine import create_engine
# Provides executable SQL expression construct
from sqlalchemy.sql import text
import pandas as pd

import numpy as np

In [3]:
db = create_engine("postgresql+psycopg2://postgres:123@localhost:5432/popular_movies")

select_query_stmnt = text("select gt.tag as tag,gs.relevance as relevance\
                        from genome_tags as gt, genome_scores as gs \
                        where gs.movie_id = (select mv.movie_id \
					    from movies as mv \
					    where movie_name = 'Jumanji ') and gs.tag_id = gt.tag_id \
                        ORDER BY gs.relevance DESC LIMIT 5;")

connection = db.connect()
result_1 = connection.execute(select_query_stmnt)

In [35]:
select_query_stmnt_year = text( "select year_released \
                            from movies\
                        where year_released is not NULL\
                        group by year_released \
                        order by year_released asc;")
connection = db.connect()
result_yr = connection.execute(select_query_stmnt_year)
df = pd.DataFrame(result_yr.fetchall(),columns=result_yr.keys())

In [54]:
str1 = '1897'
new_query = "select movie_name from movies as mo where movie_id in ( select rt.movie_id  from ratings as rt where movie_id in (select movie_id from movies as mv where year_released = " + str1  + ") group by rt.movie_id order by avg(rating) desc limit 10);"
new_query

'select movie_name from movies as mo where movie_id in ( select rt.movie_id  from ratings as rt where movie_id in (select movie_id from movies as mv where year_released = 1897) group by rt.movie_id order by avg(rating) desc limit 10);'

In [55]:
connection = db.connect()
result_yr = connection.execute(text(new_query))
df = pd.DataFrame(result_yr.fetchall(),columns=result_yr.keys())
arr = df.movie_name.values

AttributeError: 'DataFrame' object has no attribute 'year_released'

In [58]:
str1= "A Sister's Secret "
str.insert(str1.find('\'')-1,'\\')

AttributeError: 'str' object has no attribute 'insert'